<!DOCTYPE html>
<html>
    <head>
        <title>My First Proper Coding Peice</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <style type="text/css">
        
        #main {
            border: thin solid #000;
            border-radius: 2px;
        }
        .text {
            text-align: center;
            font-size: 150%;
            font-weight: 700;
            text-shadow: -5px -2px 5px gray;
            font-family: 'Roboto';
        }
        
    </style>
    </head>
    <body>
<div id="main">
    <h1 class="text" id="text">
        Hello World!
    </h1>
    
    <p>This project was written in cloud9.</p>
</div>

    </body>
</html>